spring:
  application:
    name: award
  datasource:
    url: jdbc:h2:mem:db;DB_CLOSE_DELAY=10;DB_CLOSE_ON_EXIT=TRUE
    username: sa
    password:
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        use_sql_comments: true
        format_sql: true

#  jackson:
#    serialization:
#      FAIL_ON_EMPTY_BEANS: false
